<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--获取读取何种方式的配置文件(app.config,json,xml....)-->
    <add key="readConfigWay" value="SearchBar.Common.ReadFromJson" />
    <!--默认搜索引擎-->
    <add key="default" value="b" />
    <!--简书-->
    <add key="js" value="http://www.jianshu.com/search?q={q}&amp;page=1&amp;type=note" />
    <!--微博-->
    <add key="wb" value="http://s.weibo.com/weibo/{q}" />
    <!--知乎-->
    <add key="zh" value="https://www.zhihu.com/search?type=content&amp;q={q}" />
    <!--豆瓣-->
    <add key="db" value="https://www.douban.com/search?q={q}" />
    <!--淘宝-->
    <add key="tb" value="https://s.taobao.com/search?q={q}" />
    <!--京东-->
    <add key="jd" value="https://search.jd.com/Search?keyword={q}&amp;enc=utf-8" />
    <!--博客园-->
    <add key="c" value="https://www.baidu.com/s?wd={q}%20site:cnblogs.com" />
    <!--百度-->
    <add key="bd" value="11https://www.baidu.com/s?ie=UTF-8&amp;wd={q}" />
    <!--必应-->
    <add key="b" value="https://www.bing.com/search?q={q}" />
    <!--w3cSchool-->
    <add key="w" value="https://www.baidu.com/s?wd={q}%20site:w3school.com.cn" />
    <!--stackoverflow-->
    <add key="s" value="https://stackoverflow.com/search?q={q}" />
    <!--不用加 冒号和分号转义;结尾不用加分号-->
    <add key="replace" value=" :%20;#:%23" />
    <!--网站常用域名，结尾不用加分号-->
    <add key="domainName" value=".cn;.cx;.wang;.cc;.xin;.com;.net;.top;tech;.org;red;.pub;.ink;.info;.xyz;.win" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>