<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpToJsonSchema" version="3.10.1" targetFramework="net462" />
  <package id="LangChain.Polyfills" version="0.16.0" targetFramework="net462" />
  <package id="LangChain.Providers.Abstractions" version="0.17.0" targetFramework="net462" />
  <package id="LangChain.Providers.DeepSeek" version="0.17.0" targetFramework="net462" />
  <package id="LangChain.Providers.OpenAI" version="0.17.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="9.0.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Memory.Data" version="9.0.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="9.0.1" targetFramework="net462" />
  <package id="System.Text.Json" version="9.0.1" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="Tiktoken" version="2.2.0" targetFramework="net462" />
  <package id="Tiktoken.Core" version="2.2.0" targetFramework="net462" />
  <package id="Tiktoken.Encodings.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Tiktoken.Encodings.cl100k" version="2.2.0" targetFramework="net462" />
  <package id="Tiktoken.Encodings.o200k" version="2.2.0" targetFramework="net462" />
  <package id="tryAGI.OpenAI" version="4.0.0" targetFramework="net462" />
</packages>